<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Spring Boot Thymeleaf Example</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">home</a> <a class="navbar-brand"
			href="https://lms.pluralcamp.com" target="_blank">pluralcamp</a> <a
			class="navbar-brand" href="/students">students</a> <a
			class="navbar-brand" href="/addStudent">Add Student</a>
	</nav>

	<main role="main" class="container">

		<div class="starter-template">
			<h1>Spring Boot Web Thymeleaf Example</h1>
			<h2>
				<span th:text="${email} + ' is subscribed now to our newsletter'"></span>
			</h2>
		</div>

	</main>
	<!-- /.container -->

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>
