<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Spring Boot Web Example</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table.center {
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">home</a> <a class="navbar-brand"
			href="https://lms.pluralcamp.com" target="_blank">pluralcamp</a> <a
			class="navbar-brand" href="/students">students</a> <a
			class="navbar-brand" href="/addStudent">Add Student</a>
	</nav>
	<h1>Add a Student</h1>
	<!-- /.container -->
	<section class="form-student">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="single">
						<form action="#" th:action="@{/addStudent}" th:object="${student}"
							method="post" class="input-group">
							<fieldset>
							<input type="hidden" value="0" th:field="*{idstudent}" /> 
							<p class="form-control">
							<label for="name">Name: </label>
							<input id="name"
								type="text" th:field="*{name}"
								placeholder="Enter your name" /> 
							</p>
							<p class="form-control">	
							<label for="surname">Surname: </label>
							<input type="text" id="surname"
								th:field="*{surname}"
								placeholder="Enter your surname" />
							</p>
							<p class="form-control"> 
							<label for="age">Age: </label>	
							<input type="text" id="age"
								pattern="\d*"  th:field="*{age}"
								placeholder="Enter your age" />
							</p>
							<p class="input-group-btn">
								<button class="btn btn-theme" type="submit">Submit</button>
							</p>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>