<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Spring Boot Web Example</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table.center {
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">home</a> <a class="navbar-brand"
			href="https://lms.pluralcamp.com" target="_blank">pluralcamp</a> <a
			class="navbar-brand" href="/students">students</a> <a
			class="navbar-brand" href="/addStudent">Add Student</a>
	</nav>
	<h1>Students</h1>
	<table class="center">
		<thead>
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Age</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${students.empty}">
				<td colspan="2">No Students Available</td>
			</tr>
			<tr th:each="student : ${students}">
				<td><span th:text="${student.name}"> Name </span></td>
				<td><span th:text="${student.surname}"> Surname </span></td>
				<td><span th:text="${student.age}"> Age </span></td>
			</tr>
		</tbody>
	</table>
	<div th:if="${createdStudent}" id="newstudent">
		<h4>New student created:</h4>
		<p>Id: <span th:text="${createdStudent.idstudent}"></span></p>
		<p>Name: <span th:text="${createdStudent.name}"></span></p>
		<p>Surname: <span th:text="${createdStudent.surname}"></span></p>	
		<p>Age: <span th:text="${createdStudent.age}"></span></p>		
	</div>
	
	<div th:if="${rawResponse}" id="rawResponse">
		<h4>New student created:</h4>
		<p>Response as a String is:</p>
		<p><span th:text="${rawResponse}"></span></p>		
	</div>
	<div id="update">
		<h4>Update students?</h4>
		<p>Clic <a href="/studentsUpdate" >here</a></p>		
	</div>
	<div id="delete">
		<h4>Delete students?</h4>
		<p>Clic <a href="/studentsDelete" >here</a></p>		
	</div>

	<!-- /.container -->
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>